body {
  background-color: rgb(34, 34, 34);
  font-family: monospace;
  color: azure;
  font-family: "Doto", sans-serif;
  user-select: none;
}
h1,
h2 {
  text-align: center;
}
main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.block {
  width: 10rem;
  height: 10rem;
  margin: 10px;
  border: 2px solid azure;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  transition: opacity 200ms;
}
.block:hover {
  cursor: pointer;
}
.disabled {
  opacity: 0.7;
  pointer-events: none;
}
#restart {
  width: 8em;
  height: 2.7em;
  padding: 0.3em;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  font-family: "Doto", sans-serif;
  color: azure;
  font-size: 1.2em;
  transition: all 200ms;
  cursor: pointer;
}
#restart:hover {
  transform: translateY(-3px);
}

.block span {
  align-self: center;
}
#panel {
  width: 15rem;
  height: 4rem;
  box-shadow: 0 1rem 1rem 0.1rem rgba(246, 246, 247, 0.134);
  background-color: #fca311;
  border: 2px solid azure;
  border-radius: 5px;

  position: absolute;
  justify-self: center;
  top: 10rem;
  z-index: 20;
  transition: opacity 2000ms;
}
#panel h1 {
  justify-self: center;
  align-self: center;
}
.show {
  display: block;
  opacity: 1;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.hide {
  opacity: 0;
  display: none;
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.3em;
  }
  .block {
    width: 7rem;
    height: 7rem;
  }
}
@media (max-width: 420px) {
  h2 {
    font-size: 1.2em;
  }
  .block {
    width: 5rem;
    height: 5rem;
  }
}
